@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.header, .nav-bar, .footer {
  margin: 0 auto;
}

@media (min-width: 700px) {
  .header-section {
    padding-left: 0;
    padding-right: 0;
  }
  .header, .nav-bar, .footer {
    max-width: 85%;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
.category {
  flex-direction: row;

}
.category-text {
  padding-left: 3rem;
  width: 500px;
  align-items: flex-start;
}

.category-image {
  width: 550px;
}
.description {
  text-align: left;
}
.product-name {
  text-align: left;
}

}

